<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vk login</title>
</head>
<body>
{% if  pic!=none %}

    <center>
        <div style="background-image: url('{{ pic }}'); width: 100px; height: 100px;" class="center"></div>
    </center>
{% endif %}
<div style="text-align: center;margin-top: 20px">{{ friends }} friends</div>


<form action="/search" method="POST">


    <div class="form-group" ; style="text-align:center; margin-top: 20px">
        <label>First name: </label>
        <input class="form-control" type="text" name="friend">
        <input type="submit" value="Search">
    </div>
</form>
{% if  query_counter>0 and  friend_list|length==0 %}
    <div style="text-align: center; margin-top: 20px"><label>No friends with first name "{{ friend_name }}".</label>
    </div>

{% else %}

    <div class="friends-list">

        <ul class="list" style="text-align: center;list-style: none; margin-top: 20px">
            {% for friend in friend_list %}
                <li style="text-align:center">{{ friend }}</li>
            {% endfor %}

    </div>
{% endif %}

<div class="container" style="text-align: center; margin-top: 20px">
    <form action="http://localhost:5000/logout_button" method="get">
        <div style="text-align: center;"><input type="submit" value="Log out"></div>
    </form>
</div>


</body>

</html>



